
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Proscenium/ProsceniumPage1.cshtml";
}


@using 公司管理系统Model
@model User

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<style>


    .LeaveSub {
        padding-top: 130px;
        padding-left:440px;
        background-color: greenyellow;
    }
   .LeaveSub>.btn-danger {
         padding-left:50px;
    }
   .LeaveSub > .btn-primary {
        padding-left:50px;     
    }
</style>
<script>
    //$(document).ready(init);
    //function init() {
    //    $("select[name='UserID']").change(function () {
    //        var selectedProvince = $(this).val();
    //        //alert(selectedProvince);
    //        ShowCityWithSelectedProvince(selectedProvince);
    //    });
    //}
</script>

<div class="LeaveSub">
    <form class="form-group" method="post">
        <p>
            编号ID: <select  id="provinceId" name="UserId">
               @foreach (var item in (List<User>)ViewData["Userlist"])
                {
                    <option value="@item.UserId">@item.UserId</option>
                }
            </select>
        </p>
        <p>姓名：<input type="text" name="UserName" id="city" value="@ViewBag.id" readonly  class="text-info"/></p>
        <p>电话：<input type="text" name="Phone" /></p>
        <p>请假时间:<input type="datetime" name="LeaveTime" /></p>
        <p>回职时间:<input type="datetime" name="LeaveResult" /></p>
        <p>请假原因:<input type="text" name="LeaveType" /></p>
        <p><input type="submit" value="提交" class="btn-danger"/><input type="reset" value="清空" class="btn-primary"/></p>
    </form>
</div>
