
@{
    ViewBag.Title = "Diyi";
    Layout = "~/Views/Proscenium/ProsceniumPage1.cshtml";
}
@section styles{
    <style>
        .dierci {
            height: 500px;
            background-color: black;
        }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
<div class="dierci">
    <div class="qw">
        <input type="text" />
    </div>
</div>
