<!DOCTYPE html>
@using 公司管理系统Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("style", required: false)
    @RenderSection("styles", required: false)
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.js"></script>
    <style>
        .head {
            background-color: black;
            background: rgba(0,0,0,0.3) none repeat scroll 0 0;
            margin-bottom: 0;
            border-bottom: 0;
            padding: 20px;
            transition: .3s all;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            right: 0;
            left: 0;
            z-index: 1030;
        }

            .head > ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 0 0%;
                list-style: none;
            }

                .head > ul > li > a {
                    color: aliceblue;
                    text-decoration: none;
                    margin-left: 25px;
                    margin-right: 15px;
                }

            .head img {
                width: 100px;
                height: 80px;
            }

        body {
            background-color: white;
        }

        .head > ul > li > a:hover {
            color: gold;
            text-decoration: solid;
        }

        .foot > p {
            text-align: center;
        }

            .foot > p > a {
                color: black;
                text-decoration: none;
                margin-left: 25px;
                margin-right: 15px;
                margin-top: 5px;
            }

                .foot > p > a:hover {
                    color: gold;
                }
    </style>
</head>
<body>
    <div class="head">
        <a href="#"><img src="~/Content/images/Logo.jpg" /></a>
        <ul class="bit">
            <li><a href="~/TangKai/Homes/Index">首页</a></li>
            <li><a href="~/LuoWei/Personnel/PersonReception">班级人员显示</a></li>
            <li><a href="~/ZhengLiang/FinanceQT/Show">班费使用情况</a></li>
            <li><a href="~/LiuYi/Pointqian/select">个人分数情况</a></li>
            <li><a href="~/LiuYi/systemqian/systemIndex">班级规章制度</a></li>
            <li><a href="~/LiuYi/work/Index">课表</a></li>
            <li><a href="~/LiaoWeiYing/Home/Index">学习论坛</a></li>
            <li><a href="~/LiuXin/Leave/Query">请假情况</a></li>
            <li><a href="~/TangKai/Login/Bck">后台登陆</a></li>
        </ul>
        <ul >
            
            <li style="color:aliceblue;margin-top:15px;margin-right:20px">欢迎您:@(((User)(Session["User"])).UserName)</li>
            <li style="">
                <img style="border-radius:50px 50px;padding-bottom:-50px;width:50px;height:50px;" src="~/Content/images/@(((User)(Session["User"])).Userimg)" /></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="foot">
        <p style="border-top:solid black;">
            <a href="#">联系我们</a> 
            <a href="#">支持我们</a>
            <a href="#">新手帮助</a>
            <a href="#">常见问题</a>
            <a href="#">关于我们</a>
            <a href="#">意见反馈</a>

        </p>
        <p style=" color:black; text-align:center;">&copy;2018-2019保留所有权利。</p>
        <p style="text-align:center; color:black">设计与开发/北大青鸟-.NET30</p>
    </div>
</body>
</html>
